/configure
/config.log
/config.status
/INSTALL
/autom4te.cache/
/depcomp
/install-sh
/missing
/ar-lib
/compile
/test-driver
/src/lpsdr
/src/gresources.cc
/src/gresources.h
/src/catch2
/src/catch2.trs
/src/catch2.log
/src/test-suite.log
/src/config.h
/src/stamp-h1
/src/liblpsdr.a
.deps
Makefile
*.o
*.in
*.m4
.dirstamp
